




/*Анимация*/
@keyframes leFadeInBottom {
    from {
    
        opacity: 0;
     transform: translateY(30%);
     clip-path: polygon(0 41%, 100% 41%, 100% 100%, 0% 100%);
    }
    50%{
        opacity: 0.5;
    }
    to {
        opacity: 1;
        transform: translateY(0%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

@keyframes imageAnim {
    from{
        
        // width: 766px;
        // height: 0px;
        opacity: 0;
        clip-path: polygon(0 8%, 100% 8%, 100% 0, 0 0);
        // clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);

//    transform: scaleY(0.9);
    }
90%{
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}
    to{
        clip-path: none;
        opacity: 1;
        // clip-path: none;
        // transform: scaleY(1);
        // height: 533px;
    }
}

.greeting__image-animate::before {
    animation-name: FoneDem;
animation-duration: 2s;
animation-fill-mode: forwards;
animation-delay: 2s;
    }
    .greeting__image-animate::after {
        animation-name: FoneDem;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
        }


.greeting__animate{
    animation-fill-mode: forwards;
    animation-name: leFadeInBottom;
    animation-duration: 1.0s;
    animation-delay: 0.8s;
}
.greeting__image-animate{
  
    animation-name: imageAnim;
    animation-duration: 1.0s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.greeting{
    margin-top: 10%;
    &__row{
        display: flex;
        justify-content: space-between;
    }

    &__text{
        overflow: hidden;
        width: 50%;
        margin-left: 10%;
        h2{
            opacity: 1;
            text-transform: uppercase;
        
            font-weight: normal;
            font-size: 3.8rem;
            color: $gold;
            line-height: 1.25;
            font-weight: 300;
        
        }
        p{
            opacity: 1;
            font-size: 1rem;
            width: 89%;
            font-weight: lighter;
        }
    }
    &__image{
        position: relative;
      width: 57%;

        &::before {
   
            opacity: 1;
            content: "";
            /* В любом случае необходим, даже пустой. Иначе не будет работать */
           
         z-index: -1;
            position: absolute;
         left: 10%;
          top: -15%;
            // width: 128px;
            // height: 133px;
          
            // background: url(../img/listn.png);
          
            // background-size: 128px 133px;
           
            width: 6.09rem;
            height: 6.33rem;
          
            background: url(../img/listn.png);
          
            background-size: 6.09rem 6.33rem;
        }
        &::after {
   
            opacity: 1;
            content: "";
            /* В любом случае необходим, даже пустой. Иначе не будет работать */
           
         z-index: -1;
            position: absolute;
         right: -15%;
          top: 57%;
            width: 16.71rem;
            height: 18.28rem;
          
            background: url(../img/listn2.png);
          
            background-size: 16.71rem 18.28rem;
           
        }
        img{
            opacity: 1;
           width: 100%;
           object-fit: cover;
           height: 100%;
         
        }
    }
}

@media(max-width:999px){
    .greeting__text h2{
        font-size: 3.3rem;
    }
}

@media(max-width:668px){
    .greeting{
        margin-top: 10%;
        &__row{
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
        &__text{
            margin-left: 0;
            width: 100%;

        }
        &__image{
            width: 100%;
        }
    }
    .greeting__image::before{
        display: none;
    }
    .greeting__image::after{
        width: 6.09rem;
        height: 6.33rem;
      right: -9%;
      top: 82%;

      
        background-size: 6.09rem 6.33rem;
    }
}