





.greeting__image-animate::before {
    animation-name: FoneDem;
animation-duration: 2s;
animation-fill-mode: forwards;
animation-delay: 2s;
    }
    .greeting__image-animate::after {
        animation-name: FoneDem;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
        }


.greeting__animate{

    animation-fill-mode: forwards;
    animation-name: leFadeInBottom;
    animation-duration: 1.5s;
    animation-delay: 0.8s;
}
.greeting__image-animate{

    animation-name: imageAnim;
    animation-duration: 1.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.element-animation::before{
    animation-play-state: paused;
}
.element-show::before{

    animation-play-state: running;
}
.element-animation::after{
    animation-play-state: paused;
}
.element-show::after{

    animation-play-state: running;
}
.element-animation{
    opacity: 0;
    animation-play-state: paused;
}
.qutAnim{
    animation-duration: 2s;
}
.element-show{

    animation-play-state: running;
}
.greeting{
    margin-top: 10%;
    &__row{
        display: flex;
        justify-content: space-between;
    }

    &__text{
        overflow: hidden;
        width: 50%;
        margin-left: 10%;
        h2{
            opacity: 0;
            text-transform: uppercase;
        
            font-weight: normal;
            font-size: 3.8rem;
            color: $gold;
            line-height: 1.25;
            font-weight: 300;
        
        }
        p{
            opacity: 0;
            font-size: 1rem;
            width: 89%;
            font-weight: lighter;
        }
    }
    &__image{
        position: relative;
      width: 57%;

        &::before {
            animation-name: imageAnim;
            opacity: 0;
            content: "";
            /* В любом случае необходим, даже пустой. Иначе не будет работать */
           
         z-index: -1;
            position: absolute;
         left: 10%;
          top: -15%;
            // width: 128px;
            // height: 133px;
          
            // background: url(../img/listn.png);
          
            // background-size: 128px 133px;
           
            width: 6.09rem;
            height: 6.33rem;
          
            background: url(../img/listn.png);
          
            background-size: 6.09rem 6.33rem;
        }
        &::after {
            animation-name: imageAnim;
            opacity: 0;
            content: "";
            /* В любом случае необходим, даже пустой. Иначе не будет работать */
           
         z-index: -1;
            position: absolute;
         right: -15%;
          top: 57%;
            width: 16.71rem;
            height: 18.28rem;
          
            background: url(../img/listn2.png);
          
            background-size: 16.71rem 18.28rem;
           
        }
        img{
          
           width: 100%;
           object-fit: cover;
           height: 100%;
         
        }
    }
}

@media(max-width:999px){
    .greeting__text h2{
        font-size: 3.3rem;
    }
}

@media(max-width:668px){
    .greeting{
        margin-top: 10%;
        &__row{
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
        &__text{
            margin-left: 0;
            width: 100%;

        }
        &__image{
            width: 100%;
        }
    }
    .greeting__image::before{
        display: none;
    }
    .greeting__image::after{
        width: 6.09rem;
        height: 6.33rem;
      right: -9%;
      top: 82%;

      
        background-size: 6.09rem 6.33rem;
    }
}