.map{
    [class*="ymaps-2"][class*="-ground-pane"] {
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        /* Firefox 3.5+ */
        -webkit-filter: grayscale(100%);
        /* Chrome 19+ & Safari 6+ */
    }
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9864320728291317) 59%, rgba(235,180,122,1) 59%);
    // background: linear-gradient(179.73deg, #FFFFFF 67.63%, #EBB47A 67.64%, #EBB47A 77.06%, #EBB47A 78.53%, #EBB47A 85.25%, #EBB47A 90.44%, #EBB47A 99.26%);
    position: relative;
    padding-bottom: 7.5%;
    // margin-bottom: 5%;
  
    &::before{

        opacity: 1;
        content: "";
    
     z-index: 0;
        position: absolute;
     left: 40%;
    bottom: 2%;
        
        width: 15.85rem;
        height: 15.85rem;
        background: url(../img/mapDekor.png);
      
        background-size: 15.85rem 15.85rem;
    }
    .map__wrap{
        width: 100%;
        position: relative;
        .plane{
            position: absolute;
            bottom: 2px;
            left: 7px;
            z-index: 500;
        }
    }
    &__text{
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        .map__head{
            width: 70%;
            h2{
                margin-top: 0;
                font-size: 3.8rem;
                color: $gold;
              
                font-weight: normal;
            }

        }
       .map__menu{
        width: 50%;
           li.active__map{
            padding-left: 2%;
            color: $gold;
            font-weight: bold;
            &::before {
                cursor: pointer;
      
                 content: "";
                 /* В любом случае необходим, даже пустой. Иначе не будет работать */
                 transition: all 0.8s;
              
                 position: absolute;
              left: 0%;
              top: 0%;
                 width: 32px;
                 height: 32px;
               
                 background: url(../img/arrowGold.svg);
               
                 background-size: 32px 32px;
                
             }
           }
           ul{
               li{
                   font-weight: lighter;
                   position: relative;
                   cursor: pointer;
                   line-height: 1.8rem;
                   font-size: 0.7rem;
                   list-style: none;
                   transition: all 0.2s;
                   text-align: right;
                   &:hover {
              
                    color: $gold;
                }
             
               }
           }
       }
    }
}




.map__mobile-btn{
    display: none;
}

@media(max-width:1260px){
    .map__text .map__menu li.active__map::before{
        left: -6%;
        top: -12%;
    }
}
.map #map{
    height: 550px;
}
.plane2{
    display: none;
}
@media(max-width:600px){
    .plane{
        display: none;
    }
    .plane2{
        margin-top: 10%;
        display: block;
        img{
            width: 100%;
        }
    }
    .map::before{

     display: none;
    }
    .map{
        background: linear-gradient(179.73deg, #FFFFFF 87.24%, #EBB47A 87.33%, #EBB47A 99.78%);
        padding-bottom: 12%;
        padding-bottom: 4%;
    }
    .map #map{
        height: 300px;
    }
    .map{
        &__text{
            margin-right: 0;
                    text-transform: uppercase;
                    display: flex;
                    justify-content: space-between;
                    .map__head{
                        width: 100%;
                        h2{
                            margin-top: 0;
                            font-size: 33px;
                         
                         
                            font-weight: normal;
                        }
                    }
            }
    }
    .map__menu{display: none;}
    .map__mobile-btn{
        display: block;
        margin-top: 5%;
        .map__btn{
            display: block;
            width: 100%;
            height: 40px;
     
        cursor: pointer;
            margin:  0 auto;
        }
   
    }
}








   /*Модальное окно */
   .map__menu-mobile{
    display: none;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 29;
        background: rgba(0, 0, 0, 0.61);
   
        .map-content{
           position: absolute;
           top: 20%;
           left: 27.5%;
         padding-bottom: 50px;
           z-index: 200;
           width: 290px;
           height: 415px;
           background: white;
           color: black;
           h2{
               color: $gold;
               font-size: 28px;
           }
           .map__list{
               margin-top: 50px;
               margin-bottom: 50px;
               margin-left: 30px;
               margin-right: 20px;
           }
         
       }
     


       /*Радио баттоны */
           /* для элемента input c type="radio" */
  .custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;

  }

  /* для элемента label связанного с .custom-radio */
  .custom-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-size: 12px;
    text-transform: uppercase;
  }
.radio{
    padding-top: 20px;
}
  /* создание в label псевдоэлемента  before со следующими стилями */
  .custom-radio+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $gold;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  /* стили при наведении курсора на радио */
  .custom-radio:not(:disabled):not(:checked)+label:hover::before {
    border-color: $gold;
  }

  /* стили для активной радиокнопки (при нажатии на неё) */
  .custom-radio:not(:disabled):active+label::before {
    background-color: $gold;
    border-color: $gold;
  }

  /* стили для радиокнопки, находящейся в фокусе */
  .custom-radio:focus+label::before {
    box-shadow: none;
  }

  /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
  .custom-radio:focus:not(:checked)+label::before {
    border-color: $gold;
  }

  /* стили для радиокнопки, находящейся в состоянии checked */
  .custom-radio:checked+label::before {
    border-color: $gold;
    background-color: $gold;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  }


    body {
      padding: 20px 50px;
    }

    .radio {
      margin-bottom: 0.4em;
    }
    }
    .map #map{
       width: 100%;
       height: 550px;
    }
    @media(max-width: 567px){
       .map #map{
            height: 300px;
        }
        .map__menu-mobile .map-content{
            left: 11.5%;
        }
       }
       @media(max-width: 320px){
        .map__menu-mobile .map-content{
            left: 5.5%;
        }
       }
       