body{
    font-family: 'Lato', sans-serif ;
}
@font-face {
    font-family: 'Lato';
    src: url('../font/Lato-Light.eot');
    src: url('../font/Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/Lato-Light.woff2') format('woff2'),
        url('../font/Lato-Light.woff') format('woff'),
        url('../font/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/Lato-Regular.eot');
    src: url('../font/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Lato-Regular.woff2') format('woff2'),
        url('../font/Lato-Regular.woff') format('woff'),
        url('../font/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/Lato-Bold.eot');
    src: url('../font/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Lato-Bold.woff2') format('woff2'),
        url('../font/Lato-Bold.woff') format('woff'),
        url('../font/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lora';
    src: url('../font/Lora-Bold.eot');
    src: url('../font/Lora-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Lora-Bold.woff2') format('woff2'),
        url('../font/Lora-Bold.woff') format('woff'),
        url('../font/Lora-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lora';
    src: url('../font/Lora-Regular.eot');
    src: url('../font/Lora-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Lora-Regular.woff2') format('woff2'),
        url('../font/Lora-Regular.woff') format('woff'),
        url('../font/Lora-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;

}
