.twentytwenty-horizontal .twentytwenty-handle:before{
    background: $gold !important;
    box-shadow: none !important;
}
.twentytwenty-left-arrow{
    border-right: 6px solid $gold !important;
}
 .twentytwenty-right-arrow{
    border-left: 6px solid $gold !important;
}
.AfterBefore .twentytwenty-handle{
    background: #074357;
    border: 3px solid $gold;
}
.AfterBefore .twentytwenty-horizontal .twentytwenty-handle:after{
    background: $gold;
    box-shadow: none !important;
}
.AfterBefore{
    margin-top: 5%;
    margin-bottom: 10%;
    position: relative;

    &::after {
 
        content: "";
        /* В любом случае необходим, даже пустой. Иначе не будет работать */
       
     z-index: 1;
        position: absolute;
     right: 10%;
      top: 10%;
        // width: 128px;
        // height: 133px;
      
        // background: url(../img/listn.png);
      
        // background-size: 128px 133px;
       
        width: 6.09rem;
        height: 6.33rem;
      
        background: url(../img/listn.png);
      
        background-size: 6.09rem 6.33rem;
    }
    &::before{

        opacity: 1;
        content: "";
    
     z-index: 0;
        position: absolute;
     left: 23%;
    bottom: -32%;
        
        width: 15.85rem;
        height: 15.85rem;
        background: url(../img/listn2.png);
      
        background-size: 15.85rem 15.85rem;
    }
    &__head{
        width: 35%;
        h2{
            font-size: 2.85rem;
            color: $gold;
            font-weight: 200;    
        }
        
    }

.compasAfterBefore{
    position: absolute;
    bottom: 0%;
    width: 100%;
    bottom: -19%;
}
.compasAfterBefore__row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    img{
        width: 7.76rem;
    }
}


}

// .AfterBefore__head{
//     margin-bottom: 184px;
// }

.AfterBefore__container{
    width: 31rem;
    margin: 0 auto;
  
  
}

.planeSwiper{
    height: 28.57rem;




.swiper-pagination .swiper-pagination-bullet{
    background: none ;
}


.swiper-pagination {
    bottom: -10%;
    left: 10.5%;
    button.swiper-pagination-bullet{
        margin: 0 10px !important;
        font-size: 0.80rem;
        color: $gold;
        opacity: 1;
font-weight: bold;
        width: 9.52rem;
        height: 2.38rem;
        border-radius: 25px;
        border: none;
        &:hover{
            background: $gold;
            color: $white !important;
          
        }
        &:active{
            background: $black;
            color: $white;
            border: none;
        }
        &:disabled{
            color: gray;
            background:  #e1e1e1;
        }

    }
    button.swiper-pagination-bullet.swiper-pagination-bullet-active{
        font-size: 0.80rem;
        font-weight: bold;
        color: $gold;
        border:  1px solid $gold;
    }
   
}
.swiper__pagination-wrap{
    top:14%;
    left: 42%;
}


    
}

.plane-wrap{
    transform: translateY(30%);
}
.AfterBefore__mobile-number{
    display: none;
    position: absolute;
    top: 23%;
    left: 41%;
    p{
        font-size: 14px;
        color: $gold;
        font-weight: bold;
    }
}

@media(max-width:1750px){
    .AfterBefore .compasAfterBefore{
        bottom: -8%;
    }
}
@media(max-width:1600px){
.planeSwiper .swiper__pagination-wrap{
    top: 19%;
}
}

@media(max-width:768px){
    .AfterBefore .compasAfterBefore{
        bottom: -19%;
    }
    .AfterBefore{
        .swiper__pagination-wrap{
            width: 100%;
            left: 28%;
        }
        &::after {
            display: none;
        }
        &::before {
            display: none;
        }
    }
}
@media(max-width:568px){
    .AfterBefore{
        margin-bottom: 22%;
    }
    .AfterBefore__head {
        width: 89%;
        h2{
        font-size: 28px;
        }
    }
    .AfterBefore .compasAfterBefore{
        bottom: -12%;
    }
    .AfterBefore .swiper-button-next{
top: 8%;
}
.AfterBefore .swiper-button-prev{
    top: 8%;
}
.AfterBefore__mobile-number{
    display: block;
}
.AfterBefore .compasAfterBefore__row img{
    width: 55px;
    height: 55px;
}
.planeSwiper{
    height: 30.57rem;
}
}