
.cloud {
    margin-top: 5%;
    overflow: hidden;
    position: relative;
    width:100%;
    padding-bottom: 56.25%;
    height: 0;
    background: url(../img/fonePresent.jpg);
    background-size: cover;
}
.cloudcontent {
    position: relative;
 
  

    z-index:7;
}
.cloud img {
    width: 100%;
    left: 0;
    top: -600px;
    position: absolute;
    -webkit-user-select: none; 
    -moz-user-select: none;   
    -ms-user-select: none;
    user-select: none;    
    pointer-events: none;
}
@-webkit-keyframes animCloud {
    from {
        -webkit-transform: translateX(100%)
    }
    to {
        -webkit-transform: translateX(-100%)
    }
}
@-moz-keyframes animCloud {
    from {
        -moz-transform: translateX(100%)
    }
    to {
        -moz-transform: translateX(-100%)
    }
}
@keyframes animCloud {
    from {
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%)
    }
    to {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%)
    }
}
.cloud1 {
    -webkit-animation: animCloud 20s infinite linear;
    -moz-animation: animCloud 20s infinite linear;
    animation: animCloud 40s infinite linear
}
.cloud2 {
    -webkit-animation: animCloud 40s infinite linear;
    -moz-animation: animCloud 40s infinite linear;
    animation: animCloud 60s infinite linear
}
.cloud3 {
    -webkit-animation: animCloud 60s infinite linear;
    -moz-animation: animCloud 60s infinite linear;
    animation: animCloud 80s infinite linear
}
.cloud4 {
    -webkit-animation: animCloud 80s infinite linear;
    -moz-animation: animCloud 80s infinite linear;
    animation: animCloud 100s infinite linear
}

.cloudcontent .quote__text{
   
    width: 55%;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top: 10%;
    
    
    h2{
        font-size: 2.81rem;
       margin-bottom: 3%;
        font-weight: normal;
        text-transform: uppercase;
    }
    p{
        text-transform: none;
        font-weight: lighter;
        font-size: 1rem;
        margin-bottom: 4%;

    }

    .btn-presentation{
        width: 12.52rem;
        height: 3.33rem;
    }
}


@media(max-width:1090px){
    .cloud{
        height: 20vh;
    }
    .cloudcontent .quote__text h2{
        font-size: 1.81rem;
    }
}

@media(max-width:999px){
    .cloud{
        background: url(../img/fonePresent3.jpg) center;
        padding-bottom: 0%;
        height: 50vh;
    }
}

@media(max-width:567px){
    .cloud{
        height: 805px;
    }
    .cloudcontent .quote__text{
   
        width: 85%;
        text-align: center;
        margin: 0  auto;
    
        color: white;
        margin-top: 10%;
        
        
        h2{
            font-size: 28px;
           
            font-weight: normal;
            text-align: left;
            text-transform: uppercase;
        }
        p{
            text-transform: none;
            font-weight: lighter;
            font-size: 16px;
            text-align: left;
    
        }
    
        .btn-presentation{
            width: 100%;
            height: 40px;
            font-weight: bold;
        }


    }
}