.arrange{
    &__head{
       margin-top: 5.5%;
        h2{
            font-size: 1.785rem;
            font-weight: 900;
            line-height: 1.2;
            text-transform: uppercase;
        }
    }
    &__three{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 15px;

    }
    &__item.item-long{
        width: 754px;
        background: url(../img/key2.png) no-repeat right;
       
  .arrange__button{
      margin-top: 17px;
  }
    }
    &__item{
        margin-top: 14px ;
        width: 368px;
        height: 178px;
        border-radius: 5px;
        background: white;
        border: 1px solid #e1e1e1;
        .arrange__text{
            padding: 31px;
            padding-top: 20px;
        }
        h4{
            color: $red;
            font-size: 2.571rem;
            font-weight: 900;
        }
        p{
            font-weight: bold;
            font-size: 1rem;
            padding-top: 8px;
        }
    }
}
@media(max-width:1199px){
    .arrange{
        &__three{
            justify-content: flex-start;
        }
        &__item{
            margin-right: 20px;

        }
    }
}


@media(max-width:999px){
    .arrange{
        &__three{
            justify-content: space-between;
        }
        &__item{
            width: 48%;
            margin-right: 0;
        }
    }
}
@media(max-width:576px){
    .btn-red.btn-small{
        width: 100%;
    }
}