
 .demonstration.demonstration__full{
     .dem__full{
         display: block;
        
     }
    .dem__head{
        h2{
            color: $white;
        }
    }
    .demonstration__butoon    .increase{
        font-size: 36px;
        background: none;
        border-radius: 500px;
        border: 1px solid $white;
        width: 128px;
        height: 128px;
        color:$white ;
        transition: all .2s;
        cursor: pointer;
        svg{
            margin-top: 5%;
            width: 34px;
            height: 34px;
        }
        .cls-1{
            fill: $white;
            opacity: 1;
        
        }
        &:hover{
            background: rgba(235, 180, 122, 0.5);
            
            color: white;
        }
        &:hover{
            .cls-1{
                fill: white;
            }
        }
     
    }
  

    .swiper-pagination {
        bottom: -10%;
        left: 10.5%;
        span.swiper-pagination-bullet{
            margin: 0 20px !important;
            font-size: 14px;
            color: $white;
            opacity: 1;
        }
        .swiper-pagination-bullet.swiper-pagination-bullet-active{
            font-size: 25px;
            font-weight: 200;
            color: $white;
        }
       
    }


    .swiper-button-next::after{
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 57px;
       
        background: url(../img/arrowForward2.svg);
        background-size: 30px 57px;
        color: transparent;
    }

.swiper-button-prev::after{
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 57px;
      
        color: transparent;
        background: url(../img/arrowBack2.svg);
        background-size: 30px 57px;
    }
}

.demonstration{
    height: 100vh;
    width: 100%;
    background: linear-gradient(179.73deg, #EBB47A 0.24%, #EBB47A 19.93%, #FFFFFF 19.94%);
    .dem-wrap{
        height: 100%;
        width: 100%;
      
        


    }
   
    .dem-container{
        width: 100%;
        height: 100vh;
        position: relative;
    }
    .image__average{
        position: absolute;
        top: 10%;
        left: 0%;
        width: 19%;
        img{
            width: 100%;
        }
    }

    .image__big{
        position: absolute;
        top: 15%;
        left: 22%;
width: 57%;
        img{
            width: 100%;
        }
    }
    .image__small{
        position: absolute;
        top: 0%;
        right: 0;
        width: 25%;
        img{
            width: 100%
        }
    }
    .dem__head{
        position: absolute;
        bottom: 5%;
        width: 20%;
        h2{
            font-size: 1.9rem;
            color: $gold;
            font-weight: 200;
        }
        z-index: 20;
    }
    .dem__parag{
        position: absolute;
        right: 0;
        top: 35%;
        width: 15%;
        font-size: 1rem;
        color: #000;
        line-height: 1.48;
        font-weight: 300;
    }


    .swiper-button-next{
        top: 95%;
        width: 20%;
        right: 17%;
      color: $gold;
      z-index: 20;
    //   position: relative;
    }
    .swiper-button-next::after{
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 57px;
       
        background: url(../img/arrowForward.svg);
        background-size: 30px 57px;
        color: transparent;
    }
.swiper-button-prev{
        top: 95%;
    
        left: 17%;
        color: $gold;
       
        width: 20%;
    }
.swiper-button-prev::after{
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 57px;
      
        color: transparent;
        background: url(../img/arrowBack.svg);
        background-size: 30px 57px;
    }

    .demonstration__butoon{
        position: absolute;
        top: 76%;
        left: 87%;
       
        z-index: 12;
        .increase{
            font-size: 36px;
            background: none;
            border-radius: 500px;
            border: 1px solid $gold;
            width: 128px;
            height: 128px;
            color:#ba9e6d ;
            transition: all .2s;
            cursor: pointer;
            svg{
                margin-top: 5%;
                width: 34px;
                height: 34px;
            }
            .cls-1{
                fill: $gold;
                opacity: 1;
            
            }
            &:hover{
                background: rgba(235, 180, 122, 0.5);
                
                color: white;
            }
            &:hover{
                .cls-1{
                    fill: white;
                }
            }
         
        }

        .decrease{
     
            display: none;
            font-size: 36px;
            background: none;
            border-radius: 500px;
            border: 1px solid white;
            width: 128px;
            height: 128px;
            margin-left: 75%;
            color:white;
            transition: all .2s;
            cursor: pointer;
            svg{
                margin-top: 5%;
                width: 34px;
                height: 34px;
            }
            .cls-1{
                fill: white;
                opacity: 1;
            
            }
            &:hover{
                background: rgba(186, 158, 109, 0.5);
                
                color: white;
            }
            &:hover{
                .cls-1{
                    fill: white;
                }
            }
        }


    }
    .dem__full{
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
        img{
            object-fit: cover;
        }
        }
}
@media(max-width:1500px){
    .demonstration{
        .image__big{
            position: absolute;
            top: 15%;
            left: 22%;
    width: 55%;
            img{
                width: 100%;
                height: 80%;
                object-fit: cover;
            }
        }
    }
}

@media(max-width:1199px){
    .demonstration{
        height: 100vh;
        max-height: 600px;
        .dem-container{
            width: 100%;
            height: 100vh;
         max-height: 600px;
        }
    }
    .demonstration .swiper-button-next{
        right: 5%;
    }
}

@media(max-width:999px){
    .demonstration .swiper-button-next{
        right: 0%;
    }
    .demonstration .demonstration__butoon{
        display: none;
    }
    .demonstration .swiper-button-next{
       display: none;

    }
    .demonstration .swiper-button-prev{
        display: none;
        
     }
}


@media(max-width:800px){
    .demonstration{
        background: white;
        height: auto;
    max-height: initial;
    .dem-container{
        max-height: initial;
        height: auto;
    }
        .swiper-pagination {
            display: none;
        }
        .image__small{
            display: none;
        }
        .image__average{
            display: none;
        }
        .dem__head{
            position: static;
          width: 100%;
        }
        .dem__parag{
            position: static;
            width: 100%;
        }
        .image__big{
            position: static;
            width: 100%;
        }


        .swiper-button-prev{
            display: block;
            // width: 77%;
            top: 53%;
            left: -5%;
            
            color: $white;
           
        }
      .swiper-button-next{
          display: block;
            top: 53%;
            right: -5%;
            // width: 77%;
            color: $white;
           
        }
    
    
        .swiper-button-next::after{
     
            top: 0;
            width: 30px;
            height: 57px;
           
            background: url(../img/arrowForward2.svg);
            background-size: 30px 57px;
            color: transparent;
        }
    
      .swiper-button-prev::after{
            width: 30px;
            height: 57px;
          
            color: transparent;
            background: url(../img/arrowBack2.svg);
            background-size: 30px 57px;
        }

    }

}


@media(max-width: 500px){
   .demonstration .swiper-button-prev{
        display: block;
        // width: 77%;
        top: 75%;
      left: 0%;
        
        
       
    }
  .demonstration .swiper-button-next{
      display: block;
        top: 75%;
      right: 0;
       
    }
}