/*Модальное меню */
.popup__menu{
    display: none;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
        background: url(../img/menu.png);
   
       &-content{
           margin-top: 10%;
           margin-left: 19%;
   
           ul{
               a{
                   color: #ba9e6d;
                   text-decoration: none;
                   &:hover{
                       text-decoration: none;
                       color: white;
                   }
               }
               li{
                   position: relative;
                   cursor: pointer;
             transition: all 0.8s;
             font-family: 'Exo 2', sans-serif;
                   line-height: 77px;
                   font-size: 40px;
                   list-style: none;
                   text-transform: uppercase;
                   &:hover {
                       padding-left: 2%;
                       color: white;
                   }
                   &:hover::before {
                       cursor: pointer;
             
                        content: "";
                        /* В любом случае необходим, даже пустой. Иначе не будет работать */
                        transition: all 0.8s;
                     
                        position: absolute;
                     left: -3%;
                      top: 30%;
                        width: 32px;
                        height: 32px;
                      
                        background: url(../img/arrowMenu.svg);
                      
                        background-size: 32px 32px;
                       
                    }
               }
           }
   
       }
       &-close{
           cursor: pointer;
      position: absolute;
      top: 3%;
   font-family: 'Lato', sans-serif;
      font-size: 18px;
      left: 6.2%;
           background: none;
           border: none;
           color: $white;
           img{
               width: 22px;
               height: 22px;
               transform: translateY(5px);
               padding-right: 10px;
           }
           span{
               font-size: 18px;
           }
       }
    }
    @media(max-width:1600px){
       .popup__menu-content ul li{
           font-size: 30px;line-height: 3.5rem;
       }
    }
   
    @media(max-width:576px){
       .header__item-row .header__element{
           margin-left: 0;
       }
       .popup__menu-content ul li:hover::before{
           display: none;
       }
       .popup__menu{
           &-content{
               margin-top: 20%;
               margin-left: 10%;
       
               ul{
                   li{
                       position: relative;
                       font-family: 'Lora', sans-serif ;
                       line-height: 3rem;
                       font-size: 18px;
                       list-style: none;
                       text-transform: uppercase;
                 
                   }
               }
       
           }
       }
    }