.tour{
 height: 100vh;
 background: $blue;
 &__head{
padding-top: 2%;
 }
}


.main-container {
    display: flex;
    // height: 100%;
    width: 100%;
    align-items: flex-start;
    background: $blue;
    position: relative;
    transform: translateY(20%);
  }
  .schemetour-min{
    position: absolute;
    top: 1.5%;
    left: 13%;
    transition: all 0.4s;
    svg{
     width: 10.95rem;
      ellipse{
        opacity: 0.5;
        cursor: pointer;
        &:hover{
          opacity: 1;
        }
      }
    }
  }

 .image-container {
    /* flex: 1; */
    height: 26.190rem;
  
    position: relative;
    width: 78%;
    display: block;
    margin: 0 auto;
    margin-left: 12%;
    canvas{
        width: 100%;
    }
    &::before{
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 40%;
     
       background: url(../img/shadowSmall.png) no-repeat;
  
      
      background-size: cover ;
  }
  }



  
 .pano-container {
    /* flex: 1; */
    height: 550px;
  
    // position: absolute;
    width: 75%;
    display: block;
    margin: 0 auto;
    margin-left: 12%;
    // margin-top: 30%;
    canvas{
        width: 100%;
    }
  }


  .lastimage-container {
    /* flex: 1; */
    height: 550px;
    position: relative;
    // position: absolute;
    width: 75%;
    display: block;
    margin: 0 auto;
    margin-left: 12%;
    // margin-top: 30%;
    canvas{
        width: 100%;
    }
  }



  .main-container h1 {
    flex: 1;
    text-align: center;
    color: #fff;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 10px;
  
    z-index: 100;
    text-shadow: 2px 16px 16px rgba(0, 0, 0, 0.3);
    pointer-events: none;
  }
  

  .tour{
    h2{
        font-size: 2.85rem;
        color: $gold;
        font-weight: 200;    
    }
  }





  /*Слайдер */


  .tourSwiper{
    height: 31.57rem;




.swiper-pagination .swiper-pagination-bullet{
    background: none ;
}


.swiper-pagination {
    bottom: -10%;
    left: 10.5%;
    button.swiper-pagination-bullet{
        margin: 0 10px !important;
        font-size: 0.80rem;
        color: $gold;
        opacity: 1;
font-weight: bold;
        width: 9.52rem;
        height: 2.38rem;
        border-radius: 25px;
        border: none;
        &:hover{
            background: $gold;
            color: $white !important;
          
        }
        &:active{
            background: $black;
            color: $white;
            border: none;
        }
        &:disabled{
            color: gray;
            background:  #e1e1e1;
        }

    }
    button.swiper-pagination-bullet.swiper-pagination-bullet-active{
        font-size: 0.80rem;
        font-weight: bold;
        color: $gold;
        border:  1px solid $gold;
    }
   
}
.swiper__pagination-wrap{
    top:14%;
    left: 47%;
}


    
}



button.btn-change {
 
  position: absolute;
  top: 5px;
  width: 100px;
  height: 30px;

}

#btn1 {
  left: 5px;
}

#btn2 {
  left: 110px;
}

#btn3 {
  left: 215px;
}






/* Выбор картинки  панорамы */

.footerPano.new{
  bottom: 9vw;
}

.footerPano{
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: space-around;
  left: 12%;
  bottom: 0%;
  width: 150px;
  height: 40px;
  background-color: $gold;
  border-radius: 0px;
  cursor: pointer;
}

.footerContent{
  flex-direction: row;
  color: $blue;
  align-self: center;
  font-size: 16px;
  font-weight: bold;
}

.icon-room{
  align-self: center;
  i{
    color: $blue;
  
    font-size: 14px;
  }
    
   
}
.icon-room.icon-room-active{
 
  transform: rotate(180deg);
}



.bottomInfo.expand{
  display: block;
}
.bottomInfo{
  z-index: 1;
  bottom: 0;
  position: absolute;
  left: 12%;
  width: 78% !important;
  transition: height 200ms ease;
  background-color: rgba(0,0,0,0.5);
  // display: none;
  height: 9vw !important;
  display: none;
  border-top: 2px solid $gold;
}

.room{
  // background-image: url(../img/corridor.jpg) !important;
  position: relative;
  z-index: 2;
  margin-left: 1.6vw;
  width: 7.5vw;
  margin-top: 1.1vw;
  height: 7vw;
  display: inline-block;
  background-size: cover;

  align-self: center;
  cursor: pointer;
  transition: all 0.2s;
  border: 2px solid rgba(0, 0, 0, 0.6);
  
  display: inline-block;
  &:hover{
    border: 2px solid $gold;
  }
 
}


.schemetour-min.increase-scheme{
  transition: all 0.4s;
 transform: scale(1.6);
 top: 34.5%;
 left: 44%;
}


.tour .swiper-button-next{
  width: calc(var(--swiper-navigation-size)/ 57 * 129); 
}

.tour .swiper-button-prev{
 width: calc(var(--swiper-navigation-size)/ 45 * 129); 
}
.tour__mobile-number{
  display: none;
  position: absolute;
  top: 20%;
  left: 41%;
  p{
      font-size: 14px;
      color: $gold;
      font-weight: bold;
  }
}
@media(max-width:1600px){
  .tour .swiper__pagination-wrap{
      top: 19%;
  }
  }
@media(max-width:1199px){
  .tour .swiper__pagination-wrap{
    top: 14%;
  }
  .tour .swiper-button-prev{
    width: calc(var(--swiper-navigation-size)/138*129);
  }
  .tour .swiper-button-next{
width: calc(var(--swiper-navigation-size)/154*129);
  }
}


@media(max-width:868px){
  .tour  .swiper__pagination-wrap{
    width: 100%;
    left: 38%;
}
}

@media(max-width:568px){
  .tour{
    position: relative;
    height: 587px;
  }
  .footerPano{
    width: 106px;
  }
  .tour .tour__mobile-number{
    display: block;
  }
  .footerPano{
  
    left: 9%;
  }
  .tour .swiper-button-next{
    top: 8%;
    }
    .tour .swiper-button-prev{
        top: 8%;
    }

    .main-container{
      transform: translateY(34%);
    }
    .tourSwiper{
      height: 36.57rem;
    }
    .schemetour-min svg{
      width: 6.95rem;
    }
    .schemetour-min{
      top: -13.5%;
      left: 12%;
    }
    .image-container{
      width: 86%;
      height: 317px;
      margin-left: 9%;
    }
    .bottomInfo{
      width: 86% !important;
      height: 16vw !important;
      left: 9%;
    }
    .room{
      width: 14.5vw;
      height: 12vw;
    }
    .footerPano.new{
      bottom: 16vw;
    }
}