// .privimg{
//     animation-duration: 2s;
// }
@keyframes imageAnimPrivate {
    from{
opacity: 0;
clip-path: polygon(0 8%, 100% 8%, 100% 0, 0 0);

//    transform: scaleY(0.5);
    }

    to{
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
   
        opacity: 1;

        // transform: scaleY(1);

    }
}
.private__image img{
animation-duration: 2s;
}
.private__image-animate{
    animation-name: imageAnimPrivate;
    animation-duration: 2.5s;
    animation-delay: 0.2s;
}
.private{
    margin-top: 10%;
    background: url(../img/privateFone.png) no-repeat center;

    width: 100%;
    height: 1171px;
    &__content{
        display: flex;
    }
    &__text{
        margin-top: 10%;
        margin-left: 5%;
        width: 40%;
        .private__text-head{
            opacity: 0;
            color: #ba9e6d;
            font-size: 64px;
            font-family: 'Lora', sans-serif ;
            font-weight: normal;
            line-height: 5rem;
        }
        .private__text-parag{
            font-size: 21px;
            color: #ba9e6d;
            font-weight: lighter;
        }
    }
    &__image{
        margin-left: 7%;
        margin-top: 8%;
    }
    
.prevPrivate {
    position: absolute;
    z-index: 0;
    top: 116%;
    left: 52.7%;
    background: url(../img/prev.svg) no-repeat center;
    border: none;
    cursor: pointer;
    width: 115px;
    height: 16px;
  }
  .nextPrivate {
    position: absolute;
    z-index: 0;
    top: 116%;
    right: 30.7%;
    background: url(../img/next.svg) no-repeat center;
    border: none;
    cursor: pointer;
    width: 115px;
    height: 16px;
  }
}




.slick-dots {
    bottom: -10%;
    left: 10.5%;

}
a.dot{
  padding:10px 10px;
  color: #ba9e6d;
  

}
.slick-active a{
    font-size: 36px;
    font-weight: 200;
}
a.dot:hover{
  
  background:#ddd;
}

@media(min-width: 2000px){
    .private{
        margin-top: 10%;
        background: url(../img/privateFone.png) no-repeat center;
    
        width: 100%;
        height: 1171px;
        &__content{
            display: flex;
        }
        &__text{
            width: 30%;
            margin-top: 10%;
            margin-left: 15%;
        }
        &__image{
            margin-left: 8%;
            margin-top: 8%;
        }
}
}
@media(max-width: 1500px){
    .private{
        margin-top: 10%;
height: 1000px;
        background: url(../img/privateFone.png) no-repeat;
        background-size: cover;
        width: 100%;
        &__content{
            margin-left: 2%;
            margin-right: 12%;
        }
        &__block{

            width: 100%;
        }
        &__text{
            margin-top: 10%;
            margin-left: 0%;
    
            width: 60%;
            .private__text-head{
                color: #ba9e6d;
                font-size: 48px;
                font-family: 'Lora', sans-serif ;
                font-weight: normal;
                line-height: 4rem;
            }
            .private__text-parag{
                font-size: 21px;
                color: #ba9e6d;
            }
        }
        &__image{
            width: 60%;
     margin-top: 15%;
            img{
                width: 120%;
            }
        }    
    }
}
@media(max-width: 1199px){
    .private{
        margin-top: 10%;
        &__text{
            margin-top: 20%;
            margin-left: 0%;
    
            width: 60%;
            .private__text-head{
                color: #ba9e6d;
                font-size: 36px;
                font-family: 'Lora', sans-serif ;
                font-weight: normal;
                line-height: 3rem;
            }
            .private__text-parag{
                font-size: 21px;
                color: #ba9e6d;
            }
        }
        &__image{
            width: 60%;
     margin-top: 20%;
            img{
                width: 120%;
            }
        }   
    }
}
@media(max-width: 768px){
    .slick-dots{
        display: none;
    }
    .private{
        margin-top: 10%;
        background: url(../img/privateFone.png) no-repeat;
        width: 100%;
        &__content{
            margin-left: 6%;
            margin-right: 12%;
            flex-wrap: wrap;
        }
        &__text{
            margin-top: 10%;
            margin-left: 0%;
    
            width: 100%;
            .private__text-head{
                color: #ba9e6d;
                font-size: 36px;
                font-family: 'Lora', sans-serif ;
                font-weight: normal;
                line-height: 3rem;
            }
            .private__text-parag{
                font-size: 21px;
                color: #ba9e6d;
            }
        }
        &__image{
            width: 100%;
     margin-top: 15%;
            img{
                width: 100%;
            }
        }   


        .prevPrivate {
            position: absolute;
            z-index: 20;
            top: 105%;
            left: 45.7%;
            background: url(../img/prev.svg) no-repeat center;
            border: none;
            cursor: pointer;
            width: 115px;
            height: 16px;
          }
          .nextPrivate {
            position: absolute;
            z-index: 20;
            top: 105%;
            right: 15.7%;
            background: url(../img/next.svg) no-repeat center;
            border: none;
            cursor: pointer;
            width: 115px;
            height: 16px;
          }
    }
}

@media(max-width:420px){
    .private{
        margin-top: 10%;
        background: url(../img/mobilePrivateFone.png) no-repeat;
        width: 100%;
        height: 760px;
        // height: 1171px;

        &__text{
            margin-top: 10%;
            margin-left: 0%;
    
            width: 100%;
            .private__text-head{
                color: #ba9e6d;
                font-size: 24px;
                font-family: 'Lora', sans-serif ;
                font-weight: normal;
                line-height: 2rem;
            }
            .private__text-parag{
                font-size: 16px;
                color: #ba9e6d;
            }
        }
        &__image{
            width: 100%;
     margin-top: 15%;
            img{
                width: 100%;
            }
        }   

        .prevPrivate {
            position: absolute;
            z-index: 20;
            top: 109%;
            left: 8.7%;
            background: url(../img/prev.svg) no-repeat center;
            border: none;
            cursor: pointer;
            width: 115px;
            height: 16px;
          }
          .nextPrivate {
            position: absolute;
            z-index: 20;
            top: 109%;
            right: 8.7%;
            background: url(../img/next.svg) no-repeat center;
            border: none;
            cursor: pointer;
            width: 115px;
            height: 16px;
          }
    }
}

@media(max-width:360px){
    .private{
        &__image{
            width: 100%;
     margin-top: 15%;
            img{
                width: 110%;
                transform: translateY(-10%);
            }
        }  
    }
}


