$gold: #ebb47a;
$white: white;
$black: #000000;
$blue: #074357;

/*Основные настройки */
*{
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

body{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

@media (max-width: 1300px) {
    .container{
        width: 90%;
        margin: 0 auto;
     
    }
    html,body{
        font-size: 14px;
    }
   
}
@media (max-width: 768px) {
    .container{
        width: 83%;
        margin: 0 auto;
 
    }
    html,body{
        font-size: 12px;
    }
}
@media (min-width: 1300px) {
    .container {
        width: 1260px;
        margin: 0 auto;
    }
    html,body{
        font-size: 15px;
    }
    }
    @media (min-width: 1400px) {
    .container {
        width: 1365px;
        margin: 0 auto;
    }
    html,body{
        font-size: 17px;
    }
    }
    @media (min-width: 1500px) {
    .container {
        width: 1470px;
        margin: 0 auto;
    }
    html,body{
        font-size: 19px;
    }
    }
    @media (min-width: 1720px) {
    .container {
        width: 1670px;
        margin: 0 auto;
    }
    html,body{
        font-size: 21px;
    }
    }

   


/*Кнопки */
.btn-invise{
    border-radius: 22px;
    border: 1px solid $white;
  background: none;
  color: $white;
  cursor: pointer;
  transition: all 0.2s;
  &:hover,&:focus{
      background: $white;
      color: $gold;
    
  }
  &:active{
      background: $black;
      color: $white;
      border: none;
  }
  &:disabled{
      color: gray;
      background:  #e1e1e1;
  }
}


.btn-white{
    border-radius: 35px;
    // border:  1px solid $white;
  background: $white;
  color: $gold;
  cursor: pointer;
  box-shadow: none;
  border: 1px solid $gold;
  transition: all 0.2s;
  &:hover,&:focus{
      background: $gold;
      color: $white;
    
  }
  &:active{
      background: $black;
      color: $white;
      border: none;
  }
  &:disabled{
      color: gray;
      background:  #e1e1e1;
  }
}



.btn-presentation{
 
    border-radius: 35px;
    border: 1px solid $white;
  background: none;
  color: $white;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: bold;font-size: 0.90rem;
  &:hover,&:focus{
    background: none;
    color: $black;
    border:1px solid $black;
    
  }
  &:active{

      color: $white;
      border: none;
      background: $black;
  }
  &:disabled{
      color: gray;
      background:  #e1e1e1;
  }
}




// Анимация декораций
@keyframes FoneDem {
    from {

      opacity: 0;
    }
    to{
        opacity: 1;
    }
}



/*Анимация*/
@keyframes leFadeInBottom {
    from {
    
        opacity: 0;
     transform: translateY(30%);
     clip-path: polygon(0 41%, 100% 41%, 100% 100%, 0% 100%);
    }
    50%{
        opacity: 0.5;
    }
    to {
        opacity: 1;
        transform: translateY(0%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

@keyframes imageAnim {
    from{
        
        // width: 766px;
        // height: 0px;
        opacity: 0;
        clip-path: polygon(0 8%, 100% 8%, 100% 0, 0 0);
        // clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);

//    transform: scaleY(0.9);
    }

    
90%{
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}
    to{
        clip-path: none;
        opacity: 1;
        // clip-path: none;
        // transform: scaleY(1);
        // height: 533px;
    }
}


._active{
    display: block !important;
}



/*Анимация Логотипа */



@keyframes logoAnim {
    from{
        
        // width: 766px;
        // height: 0px;
        opacity: 0;
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
        
        // clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);

//    transform: scaleY(0.9);
    }

    
90%{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
    to{
        clip-path: none;
        opacity: 1;
        // clip-path: none;
        // transform: scaleY(1);
        // height: 533px;
    }
}

@keyframes fullImage {
    from{
        
        // width: 766px;
        // height: 0px;
        opacity: 1;
        // clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);


        
        // clip-path: polygon(50% 0, 64% 0, 64% 100%, 28% 100%, 28% 0);


        clip-path: polygon(50% 0, 53% 0, 52% 100%, 40% 100%, 40% 0);


        // clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);

//    transform: scaleY(0.9);
    }

    
90%{
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
 

    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 0 0);
}
    to{
        clip-path: none;
        opacity: 1;
        // clip-path: none;
        // transform: scaleY(1);
        // height: 533px;
    }
}



.logo__animate{
    animation-name: logoAnim;
    animation-duration: 3.5s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
}

.fullImage__animate{
    animation-name: fullImage;
    animation-duration: 2.5s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}

@keyframes bounce {
    from {
      // bottom: 35px;
      // transform: scale(1.0);
      transform: translateY(0%);
    }
    50%{
      transform: translateY(-10%);
    }
    to {
      transform: translateY(0%);
      // bottom: 40px;
      // transform: scale(1.1);
    }
  }


.main-arrow{
    animation: bounce 1.2s infinite linear;
    animation-delay: 2.5;
}