$gold: #ebb47a;
$white: white;
$black: #000000;
$blue: #074357;


body{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 1300px) {
    .container{
        width: 90%;
        margin: 0 auto;
     
    }
    html,body{
        font-size: 14px;
    }
   
}
@media (max-width: 768px) {
    .container{
        width: 83%;
        margin: 0 auto;
 
    }
    html,body{
        font-size: 12px;
    }
}
@media (min-width: 1300px) {
    .container {
        width: 1260px;
        margin: 0 auto;
    }
    html,body{
        font-size: 15px;
    }
    }
    @media (min-width: 1400px) {
    .container {
        width: 1365px;
        margin: 0 auto;
    }
    html,body{
        font-size: 17px;
    }
    }
    @media (min-width: 1500px) {
    .container {
        width: 1470px;
        margin: 0 auto;
    }
    html,body{
        font-size: 19px;
    }
    }
    @media (min-width: 1720px) {
    .container {
        width: 1670px;
        margin: 0 auto;
    }
    html,body{
        font-size: 21px;
    }
    }

   


/*Кнопки */
.btn-invise{
    border-radius: 22px;
    border: 1px solid $white;
  background: none;
  color: $white;
  cursor: pointer;
  transition: all 0.2s;
  &:hover,&:focus{
      background: $white;
      color: $gold;
    
  }
  &:active{
      background: $black;
      color: $white;
      border: none;
  }
  &:disabled{
      color: gray;
      background:  #e1e1e1;
  }
}


.btn-white{
    border-radius: 35px;
    // border:  1px solid $white;
  background: $white;
  color: $gold;
  cursor: pointer;
  box-shadow: none;
  border: none;
  transition: all 0.2s;
  &:hover,&:focus{
      background: $gold;
      color: $white;
    
  }
  &:active{
      background: $black;
      color: $white;
      border: none;
  }
  &:disabled{
      color: gray;
      background:  #e1e1e1;
  }
}



.btn-presentation{
 
    border-radius: 35px;
    border: 1px solid $white;
  background: none;
  color: $white;
  cursor: pointer;
  transition: all 0.2s;
  &:hover,&:focus{
    background: none;
    color: $black;
    border: $black;
    
  }
  &:active{

      color: $white;
      border: none;
      background: $black;
  }
  &:disabled{
      color: gray;
      background:  #e1e1e1;
  }
}