.include__image-animate::before{
    animation-name: FoneDem;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}
.include{
    margin-top: 10%;
    &__row{
        display: flex;
    }
    &__header{
        opacity: 0;
        margin-top: 14%;
        width: 35%;
        h2{
            text-transform: uppercase;
            font-family: 'Lora', sans-serif ;
            font-size: 40px;
            font-weight: normal;
            color: #ba9e6d;
        }
    }
    &__image{
        margin-left: 6%;
        position: relative;
        width: 33%;
        img{
            width: 100%;
        }
        &::before{
          opacity: 0;
            content: "";
            /* В любом случае необходим, даже пустой. Иначе не будет работать */
            
            position: absolute;
         left: -30%;
          top: -10%;
          z-index: -1;
            width: 1181px;
            height: 821px;
     
            background: url(../img/foneInclude.png);
          
            background-size: 1181px 821px;
 
    }
    }
    &__button{
        text-align: center;
        margin-top: 7%;
    }
}

@media(max-width:1500px){
    .include{
        margin-right: 0%;
        &__header{
            margin-top: 14%;
            width: 35%;
            margin-left: 2%;
            h2{
                text-transform: uppercase;
                font-family: 'Lora', sans-serif ;
                font-size: 32px;
                font-weight: normal;
                color: #ba9e6d;
            }
        }
        &__image{
            margin-left: 6%;
            position: relative;
            width: 33%;
            img{
                width: 100%;
            }
            &::before{
              
                content: "";
                /* В любом случае необходим, даже пустой. Иначе не будет работать */
                
                position: absolute;
             left: -30%;
              top: -10%;
              z-index: -1;
                width: 900px;
                height: 660px;
         
                background: url(../img/foneInclude.png);
              
                background-size: 900px 660px;
     
        }
        }
    }
}


@media(max-width:1199px){
    .include{
margin-left: 5%;
margin-right: 5%;
        &__header{
            h2{
                font-size: 24px;
            }
        }


        &__image{
            margin-left: 6%;
            position: relative;
            width: 33%;
            img{
                width: 100%;
            }
            &::before{
              display: none;
                content: "";
                /* В любом случае необходим, даже пустой. Иначе не будет работать */
                
                position: absolute;
             left: -30%;
              top: -10%;
              z-index: -1;
                width: 900px;
                height: 560px;
         
                background: url(../img/foneInclude.png);
              
                background-size: 800px 460px;
     
        }
        }
    }

    
}
.include__icon{
display: none;
}

@media(max-width:768px){
    .include{
        margin-left: 5%;
        margin-right: 5%;
                &__header{
                    h2{
                        font-size: 18px;
                    }
                }
                &__image{
                    margin-left: 6%;
                    position: relative;
                    width: 48%;
                }
            }

}

@media(max-width:568px){
    .include{
        &__button{
            text-align: left;
        }
        .btn-default{
            width: 290px;
            height: 40px;
            font-weight: normal;
            border: 1px solid #ba9e6d;
       
        }
        margin-left: 5%;
        margin-right: 5%;
      .include__icon{
          display: block;
          width: 200px;
          padding-top: 30px;
      }
        &__icon-item{
        display: flex;
        padding-top: 10px;
        img{
            width: 65px;
        }
        p{
            width: 90%;
            font-size: 12px;
            text-transform: uppercase;
            padding-left: 10px;
            color: #ba9e6d;
            font-weight: normal;
        }
        }
        &__row{
            margin-top: 0;
            flex-wrap: wrap;
        }
                &__header{
                    margin-top: 0;
                    width: 100%;
                    h2{
                        font-size: 18px;
                    }
                }
                &__image{
                    margin-left: 0;
             
                    position: relative;
                    width: 100%;
                }
            }
}