.includeModal{
       /*Модальное окно */
       .includeModal-slide{
        width: 30%;
        img{
          width: 100%;
        }
      }
    display: none;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
        background-color: rgba(0, 0, 0, 0.9);
        &__row{
            display: flex;
         justify-content: flex-start;
        }
        &__item{
       
      padding: 20px;
      padding-left: 0;
      margin-left: 5%;
      padding-left: 0px;
      cursor: pointer;
      padding-right: 0;
      padding-bottom: 0;
      text-align: center;
      &:first-child{
       margin-left: 0;
      }
      p{
          color: lightgray;
        text-align: center;
          padding-left: 0;
    font-size: 18px;
          font-family: 'Lora', sans-serif ;
        
      }
      &-actvie{
        text-align: center;
        font-size: 24px;
          color: #ba9e6d;
          p{
            color: #ba9e6d;
          }
          border-bottom: 4px solid #ba9e6d;
      }
        }
        &__line{
            width: 100%;
            height: 4px;
            border-top: 1px solid lightgray;
        }
        &__content{
           position: absolute;
           top: 12%;
           left: 14%;
           padding: 5%;
        padding-top: 2%;
         padding-bottom: 80px;
           z-index: 200;
           width: 60%;
           height: auto;
           background: white;
           color: black;
           h2{
               font-size: 40px;
               text-transform: uppercase;
               color: #ba9e6d;
               font-family: 'Lora', sans-serif ;
               font-weight: normal;
           }
        }



        .prevPrivate {
            position: absolute;
            z-index: 20;
            top: 116%;
            left: 0%;
            background: url(../img/prev.svg) no-repeat center;
            border: none;
            cursor: pointer;
            width: 115px;
            height: 16px;
          }
          .nextPrivate {
            position: absolute;
            z-index: 20;
            top: 116%;
            right: 0%;
            background: url(../img/next.svg) no-repeat center;
            border: none;
            cursor: pointer;
            width: 115px;
            height: 16px;
          }
          .includeModal-close{
              cursor: pointer;
              background: none;
              border: none;
              position: absolute;
              top: 1%;
              font-size: 24px;
              font-weight: 200;
              right: 1%;
          }
    }

    @media(max-width:1199px){
      .includeModal{
        .includeModal-slide{
          width: 30%;
          img{
            width: 100%;
          }
        }
        p{
          font-size: 13px;
        }
        &__content{
     
          position: absolute;
          top: 12%;
          left: 14%;
          padding: 5%;
       padding-top: 2%;
        padding-bottom: 80px;
          z-index: 200;
          width: 60%;
          height: auto;
          background: white;
          color: black;
          h2{
              font-size: 40px;
              text-transform: uppercase;
              color: #ba9e6d;
              font-family: 'Lora', sans-serif ;
              font-weight: normal;
          }
       }
      }
    }

    @media(max-width:768px){
      .includeModal{
      
        .includeModal-slide{
          width: 30%;
          img{
            width: 100%;
          }
        }
        p{
          font-size: 12px;
        }
        &__content{
          overflow-y: hidden;
          position: absolute;
          top: 12%;
          left: 14%;
          padding: 5%;
       padding-top: 2%;
        padding-bottom: 80px;
          z-index: 200;
          width: 60%;
          height: auto;
          background: white;
          color: black;
          h2{
              font-size: 40px;
              text-transform: uppercase;
              color: #ba9e6d;
              font-family: 'Lora', sans-serif ;
              font-weight: normal;
          }
       }
      }
    }

    @media(max-width:567px){
      .includeModal{
    &__row{
      display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
  }
  .includeModal__line{
    display: none;
  }
  &__item{
       padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ba9e6d;
    color:#ba9e6d ;
    &:hover{
      background:#ba9e6d  ;
      color: white;
    }
    &:hover p{

      color: white;
    }
margin: 0;
margin-right: 2%;
margin-top: 2%;
    cursor: pointer;
    text-align: center;
    &:first-child{
     margin-left: 0;
    }
    p{
      margin: 0;

        color: #ba9e6d;
      text-align: center;
        padding-left: 0;
  font-size: 16px;
        font-family: 'Lora', sans-serif ;
      
    }
    &-actvie{
      text-align: center;
      font-size: 24px;
        color: #ba9e6d;
        background: #ba9e6d;
        p{
          color: white;
        }
    
    }
      }
  }
  }