
.service{
    margin-top: 0%;
    height: 103vh;
    
    background: url(../img/serviceFone.jpg) repeat-x;
    position: relative;
  background-size: cover;

    // &__wrap{
    //     &::before {
   

    //         content: "";
    //         /* В любом случае необходим, даже пустой. Иначе не будет работать */
           
    //      z-index: -1;
    //         position: absolute;
    //      right: 15%;
    //       bottom: 2%;
    //         width: 16.71rem;
    //         height: 18.28rem;
          
    //         background: url(../img/listn2.png);
          
    //         background-size: 16.71rem 18.28rem;
           
    //     }
    // }
        .dekor{
            position: absolute;
            top: 60%;
            right: 20%;
            z-index: 0;
            img{
                width: 16.71rem;
                  height: 18.28rem;
            }
        }
    &__row{
        display: flex;
        justify-content: space-between;
        padding-top: 12%;
        align-items: flex-end;
    }

    &__text{
        overflow: hidden;
        width: 50%;
        margin-left: 10%;
        h2{
 
            text-transform: uppercase;
            margin: 0;
            font-weight: normal;
            font-size: 3.8rem;
            color: $gold;
            line-height: 1.25;
            font-weight: 300;
        
        }
        p{
            color: $white;
      
            font-size: 1rem;
            width: 89%;
            font-weight: 300;
        }
    }
    &__image{
     
      width: 57%;   
height: 596px;
        position: relative;
        .serviceImage__wrap{
            position: absolute;
            top: 0;
            width: 100%;
        height: 100%;
        }
        img{
        
          
           
            width: 100%;
           
         //    height: 100%;
          
         }
    }
}


@media(max-width:1500px){
    .service__image{
        height: 504px;
    }
    .service{
        .dekor{
            position: absolute;
            top: 50%;
            right: 20%;
            z-index: 0;
        }
    }
}

@media(max-width:1199px){
    .service__image .serviceImage__wrap{
        top: 30%;
    }
    .service__image{
        height: 582px;
    }
}



@media(max-width:768px){
    
.service{
    margin-top: 10%;
    height: 100vh;
    
    background: url(../img/serviceFone.jpg) repeat-x;
    position: relative;
  
        .dekor{
            position: absolute;
            top: 70%;
            right: 20%;
            z-index: 0;
            img{
                width: 16.71rem;
                  height: 18.28rem;
            }
        }
    &__row{
        display: flex;
        justify-content: flex-start;
        flex-direction: column-reverse;
        padding-top: 12%;
        align-items: flex-start;
        flex-wrap: wrap;
        }
    &__text{
        width: 100%;
        margin-left: 0;
    }
    &__image{
        width: 100%;
        height: auto;
        .serviceImage__wrap{
            position: static;
        }
    }
}
}


@media(max-width:567px){
    .service{
        background: url(../img/mobileServiceFone.jpg) no-repeat top;
        background-color: $blue;
        height: 708px;
        &__text{
            p{
                font-size: 16px;
            }
        }
        .dekor{
            top: 90%;
          img{
            width: 74px;
            height: 77px;
          }
        }
    }
}