.home{
    height: 100vh;
    width: 100%;
    position: relative;
    background: url(../img/home.jpg);
    background-size: cover;
    &__top{
        width: 100%;
        position: absolute;
        top: 14%;

    }
    &__row1{
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .home__header{
        h2{
            margin: 0;
            font-size: 2.38rem;

  font-weight: 200;
  color: $gold;
        }
    }
   
    .home__have{
        width: 14%;
        height: 1.85rem;
        color: $gold;
        border-radius: 44px;
        border: 1px solid $gold;
        background: none;
        display: flex;
        padding: 27px;
        // padding-top: 10px;
        justify-content: space-between;
      align-items: center;
        p{
            margin: 0;
            font-size: 0.85rem;font-weight: 300;

        }
        .num__have{
            font-size: 2.38rem;
            margin: 0;
        }
       
    }
    .compas{
       position: absolute;
       right: 0%;
       top: 90%;
          
       }
    &__bottom{
        width: 100%;
        position: absolute;
        bottom: 4%;

    }
    .home__bottom-row{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}