

.sliderHome1{
    display: none;
}
.sliderHome2{
    display: none;
}
.sliderHome2.sliderHome__active{
    display: block;
}
.sliderHome1.sliderHome__active{
    display: block;
}
.homeModal{
    display: none;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    position: absolute;
    z-index: 20;

}






// Оформление схем

.svg__wrap {
          
    position: relative;
   
      width: 100%;
      .Room-text.activeRoom__text{
          display: block;
      }
      .Room-text{
          display: none;
          position: absolute;
          top: 50%;
          left: 5%;
          color: white;
          p{
              font-weight: lighter;
          }
          h2{
              font-size: 30px;
              font-weight: bold;
          }
      }
      svg{
          width: 60%;
          margin-top: 20%;
      margin-left: 18%;
     
          .hoverScheme{
              text{
                  fill:black;
                  font-size: 14px;
              }
              .circle{
                  r:30;
                  transition: all 0.5s;
              }
              &:hover circle{
                      
                  r:50;
                
            }
            &:focus{
              outline: none;
          }
            .paragCircle{
                display: none;
                transition: all 0.5s;
            }
            &:hover .paragCircle{
              display: block;
            }
              path{
                  fill: transparent;
                  transition: fill 0.5s;
                  &:hover{
                      fill:  #ba9e6d;
                      cursor: pointer;
                  }
                  &:focus{
                      outline: none;
                  }
              }
          }
      }



  }



