
.private{
    background: $blue;
    height: 100vh;
    margin-top: 10%;
    margin-bottom: 10%;
    position: relative;
    
  
    &__text{
        width: 40%;
    }
    &__item{
        width: 44%;
       img{
           width: 100%;
       }
        h2{
            font-size: 2.9rem;
            color: $gold;
        }
        p{
            font-size: 1rem;
            color: $white;
        }
    }
}
// .private::before{
//     position: absolute;
//     top: 0px;
//     z-index: 20;
//     background: url(../img/privateDekor.png);
//     width: 333px;
//     height: 333px;
//     background-size: 333px 333px;

 
// }
.private::before{

    opacity: 1;
    content: "";

 z-index: 1;
    position: absolute;
 left: -7%;
bottom: -12%;
    
    width: 15.85rem;
    height: 15.85rem;
    background: url(../img/privateDekor.png);
  
    background-size: 15.85rem 15.85rem;
}

.private__row{
    display: flex;
    justify-content: space-between;
    margin-top: 9%;
    
}
.swiper-slide.private__row{
    height: 74vh;
}
/*Настройки слайдера */
.swiper-pagination .swiper-pagination-bullet{
    background: none !important;
}


.swiper-pagination {
    bottom: -10%;
    left: 10.5%;
    span.swiper-pagination-bullet{
        margin: 0 20px !important;
        font-size: 14px;
        color: $gold;
        opacity: 1;
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active{
        font-size: 25px;
        font-weight: 200;
        color: $gold;
    }
   
}
.swiper__pagination-wrap{
    position: absolute;
    width: 50%;
  
left: 50%;
width: 70%;

margin: -0.5% 0 0 -12%;
}
.private .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
 bottom: 24px !important;
 width: auto !important;
}
.private .swiper-button-next{
    top: 95%;
    width: 20%;
    right: 17%;
  color: $gold;
  z-index: 20;
//   position: relative;
}
.private .swiper-button-next::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 57px;
   
    background: url(../img/arrowForward.svg);
    background-size: 30px 57px;
    color: transparent;
}
.private .swiper-button-prev{
    top: 95%;

    left: 17%;
    color: $gold;
   
    width: 20%;
}
.private .swiper-button-prev::after{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 57px;
  
    color: transparent;
    background: url(../img/arrowBack.svg);
    background-size: 30px 57px;
}
@media(max-width:1550px){
    .private .swiper-button-next{
  
        right: 15%;
       
    }
}
@media(max-width:1450px){
    .private__text{
        width: 62%;
    }
    .private{
        height: 800px;
    }
    .swiper-slide.private__row{
        height: 600px;
    }
    .private .swiper-button-prev{
  
        left: 17%;
       
    }
    .private .swiper-button-next{
  
        right: 10%;
       
    }
}
@media(max-width:1250px){
    .private .swiper-button-prev{
  
        left: 17%;
       
    }
    .private .swiper-button-next{
  
        right: 2%;
       
    }
}

@media(max-width:1050px){
    .private{
        height: 1366px;
    }
    .private__row{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
     
        
    }  .private__item{
        width: 100%;
    }
    .private__text{
        width: 100%;

    }
    .swiper-slide.private__row{
        height: 1000px;
    }
    .private .swiper-button-prev{
  
   top: 97%;
       
    }
    .private .swiper-button-next{
    
        top: 97%;
        right: -2%;
       
    }
    .private .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 12px !important;

       }
    // .private .swiper-button-prev{
  
    //     width: 54%;
       
    // }
    // .private .swiper-button-next{
  
    //     width: 54%;
       
    // }
}
@media(max-width:900px){
    .private .swiper-button-next{
    
   
        right: -13%;
       
    }
}

@media(max-width:767px){
    .private{
        height: 955px;
    }
    .private .swiper__pagination-wrap{
        display: none;
    }
    .swiper-slide.private__row{
        height: 817px;
    }
}
// @media(max-height:900px){
//     .private{
//         height: 116vh;
//         &__text{
//             width: 100%;
//         }
//     }
//     .swiper-slide.private__row{
//         height: 84vh;
//     }
// }

@media(max-width:576px){
    .private .swiper-button-prev{
  
        left: -10%;
            
         }
    .private::before{

        opacity: 1;
        content: "";
        /* В любом случае необходим, даже пустой. Иначе не будет работать */
       
     z-index: 1;
        position: absolute;
     left: 10%;
    bottom: 9%;
        // width: 128px;
        // height: 133px;
      
        // background: url(../img/listn.png);
      
        // background-size: 128px 133px;
        width: 74px;
        height: 77px;
        background: url(../img/privateDekor.png);
      
        background-size: 74px 77px;
    }
    .swiper-slide.private__row{
        height: 70vh;
    }
    .private{
        height: 675px;
    }
    .private__text{
        width: 100%;
        h2{
            font-size: 28px;
        }
        p{
            font-size: 16px;
            font-weight: 300;
        }
    }
    .swiper-pagination {
        display: none;
    }
    .private .swiper-button-next{
        
      color: $white;
    //   position: relative;
    }


    .private .swiper-button-prev{
  
        // width: 77%;
        top: 77%;
        color: $white;
       
    }
    .private .swiper-button-next{
        top: 77%;
        // width: 77%;
        color: $white;
       
    }


    .private .swiper-button-next::after{
 
        top: 0;
        width: 30px;
        height: 57px;
       
        background: url(../img/arrowForward2.svg);
        background-size: 30px 57px;
        color: transparent;
    }

    .private .swiper-button-prev::after{
        width: 30px;
        height: 57px;
      
        color: transparent;
        background: url(../img/arrowBack2.svg);
        background-size: 30px 57px;
    }
    
}