.header{
    background: white;
    margin-top: 7px;
    margin-bottom: 7px;
    &__burger{
        display: none;
    }
 &__row{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 &__logo{
     h2{
         font-size: 1.857rem;
         font-weight: 900;

     }
 }
 &__menu{
     ul{
         display: flex;
         margin-left: 0;
         padding-left: 0;
     }
     li{
         list-style-type: none;
         padding-left: 2.857rem;
         &:first-child{
             padding-left: 0;
         }
     }
 }
}

@media(max-width:768px){
    .header{
        &__burger{
            display: block;
        }
        &__menu{
            display: none;
        }
    }
}

@media(max-width:568px){
    .header{
        &__head{
            margin-top: 75px;
        }
        &__button{
            display: none;
        }
    }
}