.main{
    background: linear-gradient(to top, #f5f5f5, #fee8e3);
    &__row{
  padding-top: 75px;
  padding-bottom: 75px;
        width: 100%;
    }
    &__item{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left{
        h1{
            font-weight: 900;
            font-size: 34px;
            line-height: 1.15;
            transform: translateY(21%);
        }
        p{
          padding-top: 27px;
            font-size: 26px;
            font-weight: 500;
        }
        .main__button{
            margin-top: 66px;
        }
    }
}