.SelectMain{
    .SelectMain__row{
        display: flex;
        transform: translateY(-25%);
        align-items: center;
    }
    .SelectMain__item.SelectMain__active{
      
        border-radius: 5px;
        // height: 130px;
        transform: scaleY(1.3);
        border: 1px solid #e1e1e1;
        border-right: 1px solid #e1e1e1 !important;
        border-bottom: 7px solid $red;
        h5{
            transform: translateY(14%);
        }
    }
    .SelectMain__item{
        cursor: pointer;
        width:  27.1428rem;
        height: 7.14285rem;
        border-radius: 1px;
        border-left: 1px solid $red;
        background: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:first-child{
            border-right: none;
        }
        h5{
            font-size: 0.857rem;
            font-weight: 900;
            text-transform: uppercase;
        }
        p{
font-size: 1rem;
transform: translateY(7px);
        }
    }
}