@keyframes FoneDem {
    from {

      opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.demonstration__image-big-animate::before{
animation-name: FoneDem;
animation-duration: 2s;
animation-fill-mode: forwards;
animation-delay: 2s;
    }
    

.demonstration-wrapper{
    width: 100%;
    position: relative;
    
    .increaseDem{
        position: absolute;
        width: 100%;
        height: 970px;
        top: 0%;
        &__image{
            z-index: 10;
            position: absolute;
width: 1920px;
            img{
                width: 100%;
                height: 970px;
            }
        }
       

        .demonstration__butoon{
            position: absolute;
            top: 60%;
            left: 70%;
           
            z-index: 120;
            .increase{
                // width: 32px;
                // height: 32px;
                background: none;
                border-radius: 500px;
                border: 2px solid #ba9e6d;
                width: 128px;
                height: 128px;
                color:#ba9e6d ;
                transition: all .2s;
                cursor: pointer;
                &:hover{
                    background: #ba9e6d;
                    color: white;
                }
           
            }

            .decrease{
                display: none;
                font-size: 36px;
                background: none;
                border-radius: 500px;
                border: 2px solid white;
                width: 128px;
                height: 128px;
                color:white;
                transition: all .2s;
                cursor: pointer;
                &:hover{
                    background: white;
                    color: #ba9e6d;
                }
            }
    
        }
    }

    .prevPrivate {
        position: absolute;
        z-index: 5;
        top: 92%;
        left: 27.7%;
        background: url(../img/prev.svg) no-repeat center;
        border: none;
        cursor: pointer;
        width: 115px;
        height: 16px;
      }
      .nextPrivate {
        position: absolute;
        z-index: 5;
        top: 92%;
        right: 35.7%;
        background: url(../img/next.svg) no-repeat center;
        border: none;
        cursor: pointer;
        width: 115px;
        height: 16px;
      }
}

.demonstration.demonstration-increase .prevPrivate {
    position: absolute;
    z-index: 5;
    top: 92%;
    left: 32.7%;
    background: url(../img/prev.svg) no-repeat center;
    border: none;
    cursor: pointer;
    width: 115px;
    height: 16px;
  }
  .nextPrivate {
    position: absolute;
    z-index: 5;
    top: 92%;
    right: 30.7%;
    background: url(../img/next.svg) no-repeat center;
    border: none;
    cursor: pointer;
    width: 115px;
    height: 16px;
  }
  .demonstration.demonstration-increase .slick-dots {
    top: 85%;
    left: -5%;
    color: white;
    a.dot{
        color: white;
    }
}
.demonstration-increase{


    color: white;

    .demonstration__text-head{
        left: 5%;
        p{
            color: white;
        }
    }
    .slick-dots {
        top: 85%;
           left: -20%;
       
       }
       a.dot{
         padding:10px 10px;
         color: white;
         
       
       }
       .slick-active a{
           font-size: 36px;
           font-weight: 200;
       }
       a.dot:hover{
         
         background:#ba9e6d;
       }
}
.demonstration{
    .slick-dotted.slick-slider{
        margin-bottom: 0;
    }
    width: 100%;

    z-index: 1;
   
    margin-left: 5%;

 
    &__content{
     width: 100%;
     height: 970px;
     position: relative;
    }
    &__butoon{
        position: absolute;
        top: 60%;
        left: 70%;
       
        z-index: 12;
        .increase{
            font-size: 36px;
            background: none;
            border-radius: 500px;
            border: 2px solid #ba9e6d;
            width: 128px;
            height: 128px;
            color:#ba9e6d ;
            transition: all .2s;
            cursor: pointer;
            &:hover{
                background: #ba9e6d;
                color: white;
            }
            // &:hover svg{
            //     fill: white;
            // }
            // svg{
            //     width: 64px;
            //     height: 64px;
            //     opacity: 1;
            //     fill: #ba9e6d;
            //     &:hover{
            //        fill: white;
            //     }
            // }
        }

        .decrease{
            display: none;
            font-size: 36px;
            background: none;
            border-radius: 500px;
            border: 2px solid white;
            width: 128px;
            height: 128px;
            color:white;
            transition: all .2s;
            cursor: pointer;
            &:hover{
                background: #ba9e6d;
                color: white;
            }
        }


    }
    &__image-small{
        position: absolute;
        animation-duration: 2s;
        top: 0;
        z-index: 12;
        width: 17%;
        img{
            width: 100%;
            z-index: 109;
        }
    }
   .demonstration__image-big.increase-image{
        width: 100%;
        top: 0%;
        left:  0%;
        &::before{
            display: none;
        }
        .decrease-img{
            display: none;
        }
        .increase-img{
            display: block;
            width: 100%;
            object-fit: cover;
        }
    }
    &__image-big{
        z-index: 1;
        position: absolute;
z-index: 10;
        top: 10%;
        left:  20%;
        height: 100%;
        width: 52%;
       .increase-img{
           display: none;
       }
        &::before{
          
                content: "";
                /* В любом случае необходим, даже пустой. Иначе не будет работать */
                
                position: absolute;
            opacity: 0;
                //left -15%
             right: 15%;
              top: -6%;
                width: 100%;
                height: 585px;
              z-index: -1;
                background: url(../img/DemFone.png);
              
                background-size: 100% 585px;
     
        }
        img{
            width: 100%;
           
        }
    }
 
    &__text-head{
        position: absolute;
        bottom: 20%;
        font-size: 40px;
        font-family: 'Lora', sans-serif ;
        font-weight: normal;
        text-transform: uppercase;
        color: #ba9e6d;
        width: 15%;
        z-index: 12;

    }
    &__text-parag{
        position: absolute;
        right: 8%;
        font-size: 18px;
        width: 15%;
        z-index: 12;
        font-weight: lighter;
    }

    .slick-dots {
     top: 85%;
        left: -10%;
    
    }
    a.dot{
      padding:10px 10px;
      color: black;
      
    
    }
    .slick-active a{
        font-size: 36px;
        font-weight: 200;
    }
    a.dot:hover{
      
      background:#ddd;
    }

    .prevPrivate {
        position: absolute;
        z-index: 5;
        top: 92%;
        left: 22.7%;
        background: url(../img/prev.svg) no-repeat center;
        border: none;
        cursor: pointer;
        width: 115px;
        height: 16px;
      }
      .nextPrivate {
        position: absolute;
        z-index: 5;
        top: 92%;
        right: 40.7%;
        background: url(../img/next.svg) no-repeat center;
        border: none;
        cursor: pointer;
        width: 115px;
        height: 16px;
      }
}




@media(max-width: 1500px){
    .demonstration{
        &__content{
            width: 100%;
            height: 750px;
            position: relative;
           }
        &__text-head{
            position: absolute;
            bottom: 0%;
            font-size: 36px;
            font-family: 'Lora', sans-serif ;
            font-weight: normal;
            text-transform: uppercase;
            color: #ba9e6d;
            width: 20%;
            z-index: 12;
    
        }
        &__text-parag{
            position: absolute;
            right: 5%;
            font-size: 14px;
            width: 15%;
            z-index: 12;
        }
    }
}


@media(max-width: 999px){
.demonstration{
    .slick-dots {
        top: 85%;
           left: -10%;
       
       }
    .prevPrivate {
       
        top: 94%;

 
      }
      .nextPrivate {
    
        top: 94%;
        right: 40.7%;
  
      }
    &__content{
        width: 100%;
        height: 780px;
        position: relative;
       }
    &__image-small{
        display: none;
    }
    &__text-parag{
        position: absolute;
        left: 0%;
        font-size: 14px;
        width: 90%;
        z-index: 12;
    }
    &__text-head{
   display: none;

    }
    &__image-big{
        z-index: 1;
        position: absolute;
z-index: 10;
        top: 15%;
        left:  5%;
        height: 100%;
        width: 80%;
        &::before{
          
                content: "";
                /* В любом случае необходим, даже пустой. Иначе не будет работать */
                
                position: absolute;
             left: -4%;
              top: -6%;
                width: 100%;
              height: 555px;
              z-index: -1;
                background: url(../img/DemFone.png);
              
                background-size: 100% 555px;
     
        }
        img{
            width: 100%;
           
        }
    }
}

}


@media(max-width: 576px){
    .demonstration{
      .demonstration__butoon{
          display: none;
      }
        .prevPrivate {
       
            top: 90%;
            left: 8%;
     
          }
          .nextPrivate {
        
            top: 90%;
            right: 17.7%;
      
          }
        &__content{
            width: 100%;
            height: 490px;
            position: relative;
           }
        &__image-big{
            z-index: 1;
            position: absolute;
    z-index: 10;
            top: 33%;
            left:  -5%;

            width: 95%;
            &::before{
              
                    content: "";
                    /* В любом случае необходим, даже пустой. Иначе не будет работать */
                    
                    position: absolute;
                 left: 17%;
                  top: -7%;
                    width: 244px;
                  height: 283px;
                  z-index: -1;
                    background: url(../img/DemFonemob.png);
                  
                    background-size: 244px 283px;
         
            }
            img{
                width: 100%;
                height: 232px;
            }
        }
    }
}